<!--/*-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
        <head>
            <link rel="stylesheet" type="text/css" href="../../src/main/resources/templ/narrative.css"/>

        </head>

        <body>
<!--*/-->
        <div>
            <table>
                <tr>
                    <td th:text="${resource.effective.value}"></td>
                    <td th:text="${resource.code.coding[0].code}"></td>
                    <td th:text="${resource.code.coding[0].display}"></td>
                    <td><div th:text="${!resource.performer[0].resource.name[0].prefix.isEmpty} ? ${resource.performer[0].resource.name[0].prefix[0]}"></div>
                        <div th:text="${!resource.performer[0].resource.name[0].given.isEmpty} ? ${resource.performer[0].resource.name[0].given[0]}"></div>
                        <div th:text="${resource.performer[0].resource.name[0].family}"></div>
                    </td>
                </tr>
            </table>
        </div>



<!--/*-->
        </body>
    </html>
<!--*/-->