<!--/*-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="../templ/narrative.css"/>
</head>

<body>
<!--*/-->

<div>
    <!-- structure for title -->
    <div>
        <h1><td th:text="${resource.title}"></td></h1>
        <h4>§16 Bundes-Seuchengesetzt</h4>
    </div>

    <!-- structure for person information -->
    <div>
        <table>
            <tr>
                <td style="font-weight: bold;">Family Name</td>
                <td th:text="${resource.section[0].entry[0].resource.name[0].family}"></td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Given Name</td>
                <td th:text="${resource.section[0].entry[0].resource.name[0].given[0]}"></td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Birth Date</td>
                <td th:text="${resource.section[0].entry[0].resource.birthDate}"></td>
            </tr>
            <tr>
                <td style="font-weight: bold;">Address</td>
                <td><div th:text="${resource.section[0].entry[0].resource.address[0].postalCode + ' ' + resource.section[0].entry[0].resource.address[0].city + ','}"></div>
                    <div th:text="${resource.section[0].entry[0].resource.address[0].country}"></div>
                </td>
            </tr>
        </table>
    </div>

    <!-- structure for prophylaxis immunization -->
    <div style="margin-top: 50px">
        <h3><td th:text="${resource.section[1].title}"></td></h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Vaccine or prophylaxis</th>
                <th>Signature and professional status of supervising clinician</th>
                <th>Manufacturer of Vaccine or prophylaxis</th>
                <th>Batch no.</th>
                <th>Certificate valid from/until</th>
                <th>Official stamp of administering center:</th>
            </tr>
        </table>
    </div>

    <!-- structure for standard immunization -->
    <div style="margin-top: 50px">
        <h3><td th:text="${resource.section[2].title}"></td></h3>
        <h5>tetanus, diphteria, pertussis, poliomyelitis, haemophilus influenzae b, measles, mumps,
            rubella, varicella, chickenpox, meningococcal disease, pneumococcal disease, rotavirus, human papillomavirus (HPV), Hepatitis B </h5>
        <table>
            <tr>
                <th>Date</th>
                <th>Vaccine name</th>
                <th>Batch no.</th>
                <th>Target disease</th>
                <th>Signature and Stamp of physician</th>
            </tr>

            <tr th:each="e,state : ${resource.section[2].entry}">
                <td th:text="${e.resource.occurrence}"></td>
                <td th:text="${e.resource.vaccineCode.coding[0].display}"></td>
                <td th:text="${e.resource.lotNumber}"></td>
                <td>
                    <div th:each="t : ${e.resource.protocolApplied[0].targetDisease}">
                            <p th:text="${t.coding[0].display}"></p>
                    </div>
                </td>

                <td><div th:text="${e.resource.performer[0].actor.resource.practitioner.resource.name[0].prefix[0] + ' '
                                + e.resource.performer[0].actor.resource.practitioner.resource.name[0].given[0] + ' '
                                + e.resource.performer[0].actor.resource.practitioner.resource.name[0].family }"></div>
                    <div th:text="${e.resource.performer[0].actor.resource.organization.resource.address[0].line[0] + ' '
                                + e.resource.performer[0].actor.resource.organization.resource.address[0].line[1]}"></div>
                    <div th:text="${e.resource.performer[0].actor.resource.organization.resource.address[0].postalCode
                                + e.resource.performer[0].actor.resource.organization.resource.address[0].city}"></div>
                </td>
            </tr>

        </table>
    </div>

    <!-- structure for immunization against Inlfuenza-->
    <div style="margin-top: 50px">
        <h3><td th:text="${resource.section[3].title}"></td></h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Vaccine name</th>
                <th>Batch no.</th>
                <th>Target disease</th>
                <th>Signature and Stamp of physician</th>
            </tr>
            <tr th:each="e,state : ${resource.section[3].entry}">
                <td th:text="${e.resource.occurrence}"></td>
                <td th:text="${e.resource.vaccineCode.coding[0].display}"></td>
                <td th:text="${e.resource.lotNumber}"></td>
                <td th:text="${e.resource.protocolApplied[0].targetDisease[0].coding[0].display}"></td>
                <td><div th:text="${e.resource.performer[0].actor.resource.practitioner.resource.name[0].prefix[0] + ' '
                                + e.resource.performer[0].actor.resource.practitioner.resource.name[0].given[0] + ' '
                                + e.resource.performer[0].actor.resource.practitioner.resource.name[0].family }"></div>
                    <div th:text="${e.resource.performer[0].actor.resource.organization.resource.address[0].line[0] + ' '
                                + e.resource.performer[0].actor.resource.organization.resource.address[0].line[1]}"></div>
                    <div th:text="${e.resource.performer[0].actor.resource.organization.resource.address[0].postalCode
                                + e.resource.performer[0].actor.resource.organization.resource.address[0].city}"></div></td>
            </tr>
        </table>
    </div>

    <!-- structure for immunization against Other-->
    <div style="margin-top: 50px">
        <h3><td th:text="${resource.section[4].title}"></td></h3>
        <h5>e.g. against cholera, FSME, Hepatitis A, Hepatitis B, HPV, japanese encephalitis (JE), rabies, typhoid fever, shingles, Covid-19</h5>
        <table>
            <tr>
                <th>Date</th>
                <th>Vaccine name</th>
                <th>Batch no.</th>
                <th>Target disease</th>
                <th>Signature and Stamp of physician</th>
            </tr>
            <tr th:each="e,state : ${resource.section[4].entry}">
                <td th:text="${e.resource.occurrence}"></td>
                <td th:text="${e.resource.vaccineCode.coding[0].display}"></td>
                <td th:text="${e.resource.lotNumber}"></td>
                <td th:text="${e.resource.protocolApplied[0].targetDisease[0].coding[0].display}"></td>
                <td><div th:text="${e.resource.performer[0].actor.resource.practitioner.resource.name[0].prefix[0] + ' '
                                + e.resource.performer[0].actor.resource.practitioner.resource.name[0].given[0] + ' '
                                + e.resource.performer[0].actor.resource.practitioner.resource.name[0].family }"></div>
                    <div th:text="${e.resource.performer[0].actor.resource.organization.resource.address[0].line[0] + ' '
                                + e.resource.performer[0].actor.resource.organization.resource.address[0].line[1]}"></div>
                    <div th:text="${e.resource.performer[0].actor.resource.organization.resource.address[0].postalCode
                                + e.resource.performer[0].actor.resource.organization.resource.address[0].city}"></div></td>
            </tr>
        </table>
    </div>

    <!-- structure for observation Tuberculin-test results-->
    <div style="margin-top: 50px">
        <h3><td th:text="${resource.section[5].title}"></td></h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Test</th>
                <th>Reaction</th>
                <th>Signature and Stamp of physician</th>
            </tr>
            <tr th:each="e,state : ${resource.section[5].entry}">
                <td th:text="${e.resource.effective}"></td>
                <td th:text="${e.resource.method.coding[0].display}"></td>
                <td th:text="${e.resource.value}"></td>
                <td><div th:text="${e.resource.performer[0].resource.practitioner.resource.name[0].prefix[0] + ' '
                                + e.resource.performer[0].resource.practitioner.resource.name[0].given[0] + ' '
                                + e.resource.performer[0].resource.practitioner.resource.name[0].family }"></div>
                    <div th:text="${e.resource.performer[0].resource.organization.resource.address[0].line[0] + ' '
                                + e.resource.performer[0].resource.organization.resource.address[0].line[1]}"></div>
                    <div th:text="${e.resource.performer[0].resource.organization.resource.address[0].postalCode
                                + e.resource.performer[0].resource.organization.resource.address[0].city}"></div></td>
            </tr>
        </table>
    </div>

    <!-- structure for observation Rubella -->
    <div style="margin-top: 50px">
        <h3><td th:text="${resource.section[6].title}"></td></h3>

        <table>
            <tr>
                <th>Date</th>
                <th>Method</th>
                <th>Titers</th>
                <th>Protection exits</th>
                <th>Signature and Stamp of physician</th>
            </tr>
        </table>

    </div>

    <!-- structure for observation Hep B-->
    <div style="margin-top: 50px">
        <h3><td th:text="${resource.section[7].title}"></td></h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Test</th>
                <th>Result</th>
                <th>Signature and Stamp of physician</th>
            </tr>
            <tr th:each="e,state : ${resource.section[7].entry}">
                <td th:text="${e.resource.effective}"></td>
                <td th:text="${e.resource.method.coding[0].display}"></td>
                <td th:text="${e.resource.value}"></td>
                <td><div th:text="${e.resource.performer[0].resource.practitioner.resource.name[0].prefix[0] + ' '
                                + e.resource.performer[0].resource.practitioner.resource.name[0].given[0] + ' '
                                + e.resource.performer[0].resource.practitioner.resource.name[0].family}"></div>
                    <div th:text="${e.resource.performer[0].resource.organization.resource.address[0].line[0] + ' '
                                + e.resource.performer[0].resource.organization.resource.address[0].line[1]}"></div>
                    <div th:text="${e.resource.performer[0].resource.organization.resource.address[0].postalCode
                                + e.resource.performer[0].resource.organization.resource.address[0].city}"></div></td>
            </tr>
        </table>
    </div>

    <!-- structure for observation Hep A-->
    <div style="margin-top: 50px">
        <h3><td th:text="${resource.section[8].title}"></td></h3>
        <table>
            <tr>
                <th>Date</th>
                <th>Test</th>
                <th>Result</th>
                <th>Signature and Stamp of physician</th>
            </tr>
            <tr th:each="e,state : ${resource.section[8].entry}">
                <td th:text="${e.resource.effective}"></td>
                <td th:text="${e.resource.method.coding[0].display}"></td>
                <td th:text="${e.resource.value}"></td>
                <td><div th:text="${e.resource.performer[0].resource.practitioner.resource.name[0].prefix[0] + ' '
                                + e.resource.performer[0].resource.practitioner.resource.name[0].given[0] + ' '
                                + e.resource.performer[0].resource.practitioner.resource.name[0].family }"></div>
                    <div th:text="${e.resource.performer[0].resource.organization.resource.address[0].line[0] + ' '
                                + e.resource.performer[0].resource.organization.resource.address[0].line[1]}"></div>
                    <div th:text="${e.resource.performer[0].resource.organization.resource.address[0].postalCode
                                + e.resource.performer[0].resource.organization.resource.address[0].city}"></div></td>
            </tr>
        </table>
    </div>







</div>

<!--/*-->
</body>
</html>
<!--*/-->