<!--/*-->
<html xmlns:th="http://www.w3.org/1999/xhtml">
        <head>
            <link rel="stylesheet" type="text/css" href="narrative.css"/>

        </head>

        <body>
<!--*/-->
        <div>
            <table border="1">
                <tr>
                    <td th:text="${resource.occurrence.value}"></td>
                    <td th:text="${resource.vaccineCode.coding[0].code}"></td>
                    <td th:text="${resource.vaccineCode.coding[0].display}"></td>
                    <td th:text="${resource.performer[0].actor}"></td>
                </tr>
            </table>
        </div>

<!--/*-->
        </body>
    </html>
<!--*/-->